
#include "Resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include <winres.h>
#undef APSTUDIO_READONLY_SYMBOLS

IDI_MAINICON          ICON    "..\\assets\\app.ico"
IDR_HTMLPAGE          RCDATA  "..\\web\\app.html"
IDR_INI_DEFAULT       RCDATA  "..\\assets\\OptiScaler.ini"

IDR_OPTISCALER_DLL    RCDATA "..\\assets\\OptiScaler.dll"
IDR_FAKENVAPI_DLL     RCDATA "..\\assets\\fakenvapi.dll"
IDR_FAKENVAPI_INI     RCDATA "..\\assets\\fakenvapi.ini"
IDR_LIBXELL_DLL       RCDATA "..\\assets\\libxell.dll"

IDR_FSR_DX12_DLL      RCDATA "..\\assets\\amd_fidelityfx_dx12.dll"
IDR_FSR_FG_DLL        RCDATA "..\\assets\\amd_fidelityfx_framegeneration_dx12.dll"
IDR_FSR_UPSCALER_DLL  RCDATA "..\\assets\\amd_fidelityfx_upscaler_dx12.dll"
IDR_FSR_VK_DLL        RCDATA "..\\assets\\amd_fidelityfx_vk.dll"

IDR_XESS_DLL          RCDATA "..\\assets\\libxess.dll"
IDR_XESS_DX11_DLL     RCDATA "..\\assets\\libxess_dx11.dll"
IDR_XESS_FG_DLL       RCDATA "..\\assets\\libxess_fg.dll"

IDR_DLSSG_FSR3_DLL    RCDATA "..\\assets\\dlssg_to_fsr3_amd_is_better.dll"
